@{
    //ViewBag.Title = "Entry Item Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rice Store</title>
    <style>
        .product {
            margin-bottom: 20px;
        }

        .cart {
            margin-top: 30px;
        }

    </style>
</head>
<section class="content">
    <input type="hidden" id="hdnUserId" value="@Request.RequestContext.HttpContext.Session["UserID"]">
    <input type="hidden" id="hdnTermID" value="@Request.RequestContext.HttpContext.Session["TerminalId"]">
    <input type="hidden" id="hdnDateToday" value="@Request.RequestContext.HttpContext.Session["DateToday"]">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-solid box-primary" style="margin-top:15px;">
                <div class="box-header">
                    <h3 class="box-title">Order Information</h3>
                    <input type="text" id="ItemSearch" placeholder="Search Items..." class="form-control">
                </div>
                <div class="box-body" style="border-left: 1px solid #d2d6de; border-right: 1px solid #d2d6de;">
                    <h1>Rice Store</h1>
                    <div id="product-list">
                    </div>

                    <div class="cart">
                        <h2>Your Cart</h2>
                        <div id="cart-items">

                        </div>
                        <p>Total: $<span id="cart-total">0</span></p>
                        <p>Total Item: $<span id="cart-totalItem">0</span></p>
                    </div>
                    <button id="btnSaveOrder">Save Order</button>
                    <button id="btnClear">Clear Order</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/Scripts/eMedicine/Order/UIEntryOrder.js")
    <script src="~/Scripts/jquery.validate.min.js"></script>

}
