<!DOCTYPE html>
<html>
<head>
    <style>
        .body-content {
            margin: 0;
            height: 100%;
            width: 100%;
            font-family: 'Open Sans', sans-serif;
            background-image: url(/images/ccBack.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
    <link href="~/css/loginstyle.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/images/CC_Blue1.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/site.min.css" />

    <title>CPM</title>
</head>
<body>
    <div class="body-content">
        @RenderBody()
    </div>
    <div style="background-color:#113448;padding:0px 20px 0px 20px;color:white">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong><a style="color:white" href="http://www.concordgroupbd.com">&copy;@DateTime.Now.Year - Powered By MIS, Concord Group of Companies</a></strong>
    </div>
</body>
</html>

<script src="~/js/site.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)