@{
    ViewBag.Title = "Create Sales Person";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="box box-solid box-primary">
        <div class="box-body">
            @*<input type="hidden" id="hdnUserId" value="@Request.RequestContext.HttpContext.Session['UserID']">
            <input type="hidden" id="hdnTermID" value="@Request.RequestContext.HttpContext.Session['TermID']">
            <input type="hidden" id="hdnSessionID" value="@Request.RequestContext.HttpContext.Session['SessionID']">*@

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-solid box-primary" style="margin-top:15px;">
                            <div class="box-header">
                                <h3 class="box-title">Company Information</h3>
                            </div>

                            <div class="box-body" style="border-left: 1px solid #d2d6de; border-right: 1px solid #d2d6de;">
                                <form id="validateCompany">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                <label for="CompanyId">Company ID</label>
                                                <input type="text" id="CompanyId" name="CompanyId" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="CompanyName">Company Name</label>
                                                <input type="text" id="CompanyName" name="CompanyName" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="CompanyAddress">Company Address</label>
                                                <input type="text" id="CompanyAddress" name="CompanyAddress" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="CompanyDescription">Company Dsc</label>
                                                <input type="text" id="CompanyDescription" name="CompanyDescription" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="CompanyPhone">Company Phone</label>
                                                <input type="text" id="CompanyPhone" name="CompanyPhone" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="CompanyCity">Company City</label>
                                                <input type="text" id="CompanyCity" name="CompanyCity" class="form-control input-sm" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>

                                    <br />

                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                <label for="CompanyRegion">Company Region</label>
                                                <input type="text" id="CompanyRegion" name="CompanyRegion" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="CompanyPostalCode">Postal Code</label>
                                                <input type="text" id="CompanyPostalCode" name="CompanyPostalCode" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="CompanyCountry">Division</label>
                                                <select id="cmbDivisionId" name="cmbDivisionId" class="form-control input-sm select2" style="width:100%"></select>
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="IsActive">Is Active</label>
                                                <select id="IsActive" name="IsActive" class="form-control input-sm">
                                                    <option value="true">Yes</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="CreatedBy">Created By</label>
                                                <input type="text" id="CreatedBy" name="CreatedBy" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="CreatedDate">Created Date</label>
                                                <input type="text" id="CreatedDate" name="CreatedDate" class="form-control input-sm" autocomplete="off" >
                                            </div>
                                        </div>
                                    </div>

                                    <br />

                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                <label for="UpdatedBy">Updated By</label>
                                                <input type="text" id="UpdatedBy" name="UpdatedBy" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="DeletedBy">Deleted By</label>
                                                <input type="text" id="DeletedBy" name="DeletedBy" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="DeletedDate">Deleted Date</label>
                                                <input type="text" id="DeletedDate" name="DeletedDate" class="form-control input-sm" autocomplete="off" >
                                            </div>
                                            <div class="col-sm-4" style="margin-top: 25px;">
                                                <button id="btnSave" type="button" class="btn btn-success">Save Company Info</button>
                                                <button id="btnClear" type="button" class="btn btn-danger">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="box box-solid box-primary">
                            <div class="box-header">
                                <h3 class="box-title">Company List</h3>
                            </div>
                            <div class="box-body" style="border-left: 1px solid #d2d6de; border-right: 1px solid #d2d6de;">
                                <table id="tblCompany" class="table table-striped table-bordered" cellspacing="0" style="width: 100%; font-size: 10px;">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>Company ID</th>
                                            <th>Company Name</th>
                                            <th>Address</th>
                                            <th>Description</th>
                                            <th>Phone</th>
                                            <th>City</th>
                                            <th>Country</th>
                                            <th>Is Active</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Data will be populated here dynamically using jQuery or other data fetching methods -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/Scripts/eMedicine/SalesPerson/UIEntrySalesPerson.js")
    <script src="~/Scripts/jquery.validate.min.js"></script>
}
