@{
    ViewBag.Title = "Create Disease Wise Medicine Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="box box-solid box-primary">
        <div class="box-body">
            <input type="hidden" id="hdnUserId" value="@Request.RequestContext.HttpContext.Session["UserID"]">
            <input type="hidden" id="hdnTermID" value="@Request.RequestContext.HttpContext.Session["TerminalId"]">
            <input type="hidden" id="hdnDateToday" value="@Request.RequestContext.HttpContext.Session["DateToday"]">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-solid box-primary" style="margin-top:15px;">
                            <div class="box-header">
                                <h3 class="box-title">Disease Wise Medicine Information</h3>
                            </div>

                            <div class="box-body" style="border-left: 1px solid #d2d6de; border-right: 1px solid #d2d6de;">
                                <form id="validateDisease">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                <label for="txtDiseaseId">DiseaseId</label>
                                                <input type="text" id="txtDiseaseId" name="txtDiseaseId" class="form-control input-sm" autocomplete="off" disabled>
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="txtDiseaseName">Disease Name</label>
                                                <input type="text" id="txtDiseaseName" name="txtDiseaseName" value="" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="txtDiseaseDescriptions">Disease Descriptions</label>
                                                <input type="text" id="txtDiseaseDescriptions" name="txtDiseaseDescriptions" value="" class="form-control input-sm" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <label for="txtDiseaseNameBN">রোগের নাম</label>
                                                <input type="text" id="txtDiseaseNameBN" name="txtDiseaseNameBN" value="" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-5">
                                                <label for="txtDiseaseDescriptionsBN">রোগের বর্ণনা</label>
                                                <input type="text" id="txtDiseaseDescriptionsBN" name="txtDiseaseDescriptionsBN" value="" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-3">
                                                <label for="cmbMedicines">Medicines</label>
                                                <select id="cmbMedicines" name="cmbMedicines[]" class="form-control input-sm select2" style="width:100%" multiple></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">  
                                            <div class="col-sm-5">
                                                <label for="txtUsageRules">Usage rules</label>
                                                <input type="text" id="txtUsageRules" name="txtUsageRules" value="" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-5">
                                                <label for="txtUsageRulesBN">সেবন বিধি </label>
                                                <input type="text" id="txtUsageRulesBN" name="txtUsageRulesBN" value="" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="CmbIsActive">Is Active</label>
                                                <select id="CmbIsActive" name="CmbIsActive" class="form-control input-sm">
                                                    <option value="1">Yes</option>
                                                    <option value="0">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                <label for="txtAdvice">Advice</label>
                                                <input type="text" id="txtAdvice" name="txtAdvice" value="" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-5">
                                                <label for="txtAdviceBN">উপদেশ</label>
                                                <input type="text" id="txtAdviceBN" name="txtAdviceBN" value="" class="form-control input-sm" autocomplete="off">
                                            </div>
                                            <div class="col-sm-2" style="margin-top: 25px;">
                                                <button id="btnSave" type="button" class="btn btn-success">Save Info</button>
                                                <button id="btnUpdate" type="button" class="btn btn-danger" style="display:none">Update Info</button>
                                                <button id="btnClear" type="button" class="btn btn-danger">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="box box-solid box-primary">
                            <div class="box-header">
                                <h3 class="box-title">Disease Wise Medicine List</h3>
                            </div>
                            <div class="box-body" style="border-left: 1px solid #d2d6de; border-right: 1px solid #d2d6de;">
                                <table id="tblDisWiseMed" class="table table-striped table-bordered" cellspacing="0" style="width: 100%; font-size: 10px;">
                                    <thead>
                                        <tr>
                                            <th>SL</th>                                          
                                            <th>Disease ID</th>
                                            <th>Disease Name</th>
                                            <th>Disease Name Bangla</th>
                                            <th>Disease Descriptions</th>
                                            <th>Is Active</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Data will be populated here dynamically using jQuery or other data fetching methods -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/Scripts/eMedicine/Item/UIEntryDiseaseWiseMedicine.js");
    <script src="~/Scripts/jquery.validate.min.js"></script>
}
<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mdlTitle"></h4>
                @*<img id="MdlImage" src="" alt="Item Image" style="width:50px; height:auto;" height: auto; margin-bottom: 15px; display: none;" hidden>*@
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td id="mdlDiseaseName"></td>
                                <td id="mdlDiseaseNameBN"></td>
                            </tr>
                            <tr>
                                <td id="mdlDiseaseDescriptions"></td>
                                <td id="mdlDiseaseDescriptionsBN"></td>
                            </tr>
                            <tr>
                                <td> <select id="mdlcmbMedicines" name="mdlcmbMedicines[]" class="form-control input-sm select2" style="width:100%" multiple></select></td>
                                <td id="mdlAdvice"></td>
                            </tr>
                            <tr>
                                <td id="mdlAdviceBN"></td>
                                <td id="mdlUsageRules"></td>
                            </tr>
                            <tr>
                                <td id="mdlUsageRulesBN"></td>
                                <td id="mdlIsActive"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>